SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_APP_TOKEN=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-3.5-turbo
PORT=3000
PROMETHEUS_URL=
CHROMA_URL=http://localhost:8000
CHROMA_INDEX=prometheus_examples
CHROMA_METRICS_INDEX=prometheus_metrics